/* TubeToMeshOutlines (in front) */
.st0{fill:none;stroke:#FFFFFF;stroke-width:0.48;}
.st1{fill:none;stroke:#FFFFFF;stroke-width:8.4;}
.st2{fill:none;stroke:#4C4C4C;stroke-width:0.48;stroke-opacity:0.3882;}
.st3{fill:none;stroke:#FDFDFD;stroke-width:0.48;stroke-opacity:0.9961;}
.st4{fill:none;stroke:#F0F0F0;stroke-width:0.48;stroke-opacity:0.9725;}
.st5{fill:none;stroke:#D6D6D6;stroke-width:0.48;stroke-opacity:0.9294;}
.st6{fill:none;stroke:#B3B3B3;stroke-width:0.48;stroke-opacity:0.8706;}
.st7{fill:none;stroke:#8A8A8A;stroke-width:0.48;stroke-opacity:0.8;}
.st8{fill:none;stroke:#606060;stroke-width:0.48;stroke-opacity:0.7294;}
.st9{fill:none;stroke:#3A3A3A;stroke-width:0.48;stroke-opacity:0.6627;}
.st10{fill:none;stroke:#1B1B1B;stroke-width:0.48;stroke-opacity:0.6118;}
.st11{fill:none;stroke:#070707;stroke-width:0.48;stroke-opacity:0.5765;}
.st12{fill:none;stroke:#000000;stroke-width:0.48;stroke-opacity:0.5647;}
/* StretchMeshHatch (2nd from back in color) */
.st13{fill:#6A817A;}
.st14{fill:#72847E;}
.st15{fill:#576A63;}
.st16{fill:#4A5C54;}
.st17{fill:#4C635B;}
.st18{fill:#546C66;}
.st19{fill:#44524C;}
.st20{fill:#4A5A54;}
.st21{fill:#788580;}
.st22{fill:#506761;}
.st23{fill:#97A6A1;}
.st24{fill:#6B877D;}
.st25{fill:#597A6F;}
.st26{fill:#485C55;}
.st27{fill:#56746A;}
.st28{fill:#3F4D47;}
.st29{fill:#45554E;}
.st30{fill:#59766E;}
.st31{fill:#4B5B55;}
.st32{fill:#798681;}
.st33{fill:#9BAAA5;}
.st34{fill:#5B6963;}
.st35{fill:#606F69;}
.st36{fill:#758E85;}
.st37{fill:#4C615A;}
.st38{fill:#4D5E57;}
.st39{fill:#607F74;}
.st40{fill:#42514B;}
.st41{fill:#3F4C46;}
.st42{fill:#547268;}
.st43{fill:#4A5D57;}
.st44{fill:#596C65;}
.st45{fill:#5C7B73;}
.st46{fill:#44534C;}
.st47{fill:#4C5E57;}
.st48{fill:#404B46;}
.st49{fill:#51635C;}
.st50{fill:#838D89;}
.st51{fill:#424E49;}
.st52{fill:#495A55;}
.st53{fill:#ABB6B2;}
.st54{fill:#4F625B;}
.st55{fill:#3A403C;}
.st56{fill:#80968E;}
.st57{fill:#718B82;}
.st58{fill:#42504B;}
.st59{fill:#566D65;}
.st60{fill:#4C605A;}
.st61{fill:#556E64;}
.st62{fill:#43544D;}
.st63{fill:#617A71;}
.st64{fill:#57776B;}
.st65{fill:#434F4A;}
.st66{fill:#3E4843;}
.st67{fill:#596B64;}
.st68{fill:#43504B;}
.st69{fill:#4A5C56;}
.st70{fill:#858A87;}
.st71{fill:#44504B;}
.st72{fill:#516F64;}
.st73{fill:#404944;}
.st74{fill:#AEB9B5;}
.st75{fill:#51615B;}
.st76{fill:#779087;}
.st77{fill:#596D66;}
.st78{fill:#667F76;}
.st79{fill:#71807A;}
.st80{fill:#485B53;}
.st81{fill:#465952;}
.st82{fill:#8F9894;}
.st83{fill:#52635C;}
.st84{fill:#597168;}
.st85{fill:#71807B;}
.st86{fill:#4C5D56;}
.st87{fill:#45544E;}
.st88{fill:#56786C;}
.st89{fill:#495C56;}
.st90{fill:#5B6B65;}
.st91{fill:#43534D;}
.st92{fill:#78807C;}
.st93{fill:#3E4742;}
.st94{fill:#46514B;}
.st95{fill:#3A3F3A;}
.st96{fill:#93A59F;}
.st97{fill:#4C5852;}
.st98{fill:#4B5D58;}
.st99{fill:#44554D;}
.st100{fill:#638076;}
.st101{fill:#414D47;}
.st102{fill:#4B6259;}
.st103{fill:#536D66;}
.st104{fill:#475952;}
.st105{fill:#424F48;}
.st106{fill:#778781;}
.st107{fill:#495853;}
.st108{fill:#414E48;}
.st109{fill:#536C63;}
.st110{fill:#424D49;}
.st111{fill:#4B5E58;}
.st112{fill:#3E4B45;}
.st113{fill:#95A5A0;}
.st114{fill:#3F4944;}
.st115{fill:#6E7672;}
.st116{fill:#53625C;}
.st117{fill:#3D4743;}
.st118{fill:#404D48;}
.st119{fill:#85918C;}
.st120{fill:#54756A;}
.st121{fill:#839891;}
.st122{fill:#81928C;}
.st123{fill:#6B7470;}
.st124{fill:#3D4641;}
.st125{fill:#5B7A6F;}
.st126{fill:#4E615A;}
.st127{fill:#4E695F;}
.st128{fill:#3E4541;}
.st129{fill:#4B554F;}
.st130{fill:#4B655B;}
.st131{fill:#3C433F;}
.st132{fill:#4A5D56;}
.st133{fill:#5C7A73;}
.st134{fill:#4F655F;}
.st135{fill:#485751;}
.st136{fill:#3A3D39;}
.st137{fill:#475953;}
.st138{fill:#8D928F;}
.st139{fill:#7C938B;}
.st140{fill:#495953;}
.st141{fill:#70827B;}
.st142{fill:#5A7770;}
.st143{fill:#3A3E3B;}
.st144{fill:#556E65;}
.st145{fill:#51655D;}
.st146{fill:#93A49E;}
.st147{fill:#414E49;}
.st148{fill:#4B5C55;}
.st149{fill:#485A53;}
.st150{fill:#526A63;}
.st151{fill:#465650;}
.st152{fill:#75807B;}
.st153{fill:#516960;}
.st154{fill:#A1AFAA;}
.st155{fill:#496057;}
.st156{fill:#4D655C;}
.st157{fill:#8C9F98;}
.st158{fill:#4F645E;}
.st159{fill:#A5B1AD;}
.st160{fill:#495D55;}
.st161{fill:#4C655C;}
.st162{fill:#475B53;}
.st163{fill:#607E74;}
.st164{fill:#3E4642;}
.st165{fill:#404A45;}
.st166{fill:#A5B6B0;}
.st167{fill:#6B7973;}
.st168{fill:#5B7871;}
.st169{fill:#404C46;}
.st170{fill:#46554F;}
.st171{fill:#495B53;}
.st172{fill:#475550;}
.st173{fill:#E9EAEA;}
.st174{fill:#465A52;}
.st175{fill:#495B54;}
.st176{fill:#393D39;}
.st177{fill:#3B413D;}
.st178{fill:#3F4A45;}
.st179{fill:#50625B;}
.st180{fill:#5B7971;}
.st181{fill:#9CACA6;}
.st182{fill:#556A63;}
.st183{fill:#414C47;}
.st184{fill:#4A5C55;}
.st185{fill:#3C433E;}
.st186{fill:#788581;}
.st187{fill:#4C615B;}
.st188{fill:#6D857D;}
.st189{fill:#5E6D67;}
.st190{fill:#414C46;}
.st191{fill:#46564F;}
.st192{fill:#3E4641;}
.st193{fill:#8B9E97;}
.st194{fill:#414B45;}
.st195{fill:#8D9793;}
.st196{fill:#607E73;}
.st197{fill:#4B5C56;}
.st198{fill:#82968F;}
.st199{fill:#4A5C57;}
.st200{fill:#3E4944;}
.st201{fill:#819991;}
.st202{fill:#3B413C;}
.st203{fill:#4F5853;}
.st204{fill:#8C9B96;}
.st205{fill:#4E6A60;}
.st206{fill:#3B433F;}
.st207{fill:#495D56;}
.st208{fill:#7E968D;}
.st209{fill:#869992;}
.st210{fill:#434D48;}
.st211{fill:#43554E;}
.st212{fill:#A6B6B1;}
.st213{fill:#5D6F68;}
.st214{fill:#495B55;}
.st215{fill:#4C5F59;}
.st216{fill:#57736B;}
.st217{fill:#3E4B46;}
.st218{fill:#3B443F;}
.st219{fill:#43504C;}
.st220{fill:#506059;}
.st221{fill:#485A52;}
.st222{fill:#5F6B65;}
.st223{fill:#536A64;}
.st224{fill:#4E5651;}
.st225{fill:#5E716B;}
.st226{fill:#45514C;}
.st227{fill:#587067;}
.st228{fill:#5E7069;}
.st229{fill:#485A54;}
.st230{fill:#3C413D;}
.st231{fill:#414A45;}
.st232{fill:#6D887E;}
.st233{fill:#62766E;}
.st234{fill:#5C7973;}
.st235{fill:#43544E;}
.st236{fill:#434F49;}
.st237{fill:#57756B;}
.st238{fill:#5C6D66;}
.st239{fill:#4D5E58;}
.st240{fill:#A5B2AE;}
.st241{fill:#4C635A;}
.st242{fill:#455951;}
.st243{fill:#515C57;}
.st244{fill:#9BABA6;}
.st245{fill:#424F49;}
.st246{fill:#41504A;}
.st247{fill:#4D605B;}
.st248{fill:#516B61;}
.st249{fill:#475C54;}
.st250{fill:#5C6D67;}
.st251{fill:#55615B;}
.st252{fill:#BDC4C2;}
.st253{fill:#727D78;}
.st254{fill:#455650;}
.st255{fill:#5B7068;}
.st256{fill:#757B77;}
.st257{fill:#9DADA8;}
.st258{fill:#526B62;}
.st259{fill:#4C5F5B;}
.st260{fill:#506960;}
.st261{fill:#8DA09A;}
.st262{fill:#4D645C;}
.st263{fill:#617C74;}
.st264{fill:#56776B;}
.st265{fill:#475851;}
.st266{fill:#597068;}
.st267{fill:#46534E;}
.st268{fill:#778F87;}
.st269{fill:#7A827E;}
.st270{fill:#54605B;}
.st271{fill:#4D635C;}
.st272{fill:#43534C;}
.st273{fill:#3E4743;}
.st274{fill:#527166;}
.st275{fill:#4C524E;}
.st276{fill:#4C5F5A;}
.st277{fill:#42504A;}
.st278{fill:#A1B2AC;}
.st279{fill:#4B635A;}
.st280{fill:#4C625A;}
.st281{fill:#465852;}
.st282{fill:#506B61;}
.st283{fill:#475A52;}
.st284{fill:#45554F;}
.st285{fill:#758B83;}
.st286{fill:#455750;}
.st287{fill:#425049;}
.st288{fill:#808A86;}
.st289{fill:#4A5E57;}
.st290{fill:#6C7B75;}
.st291{fill:#44544E;}
.st292{fill:#404C47;}
.st293{fill:#485953;}
.st294{fill:#BFC8C5;}
.st295{fill:#45534E;}
.st296{fill:#67847A;}
.st297{fill:#6D887F;}
.st298{fill:#5B7B71;}
.st299{fill:#424F4A;}
.st300{fill:#4C5C56;}
.st301{fill:#899F97;}
.st302{fill:#777D7A;}
.st303{fill:#839C94;}
.st304{fill:#52675F;}
.st305{fill:#62756E;}
.st306{fill:#3F4B45;}
.st307{fill:#4F635D;}
.st308{fill:#6E8079;}
.st309{fill:#5C7A6F;}
.st310{fill:#60756E;}
.st311{fill:#57786D;}
.st312{fill:#566A63;}
.st313{fill:#43514B;}
.st314{fill:#424D48;}
.st315{fill:#485C54;}
.st316{fill:#4E625A;}
.st317{fill:#45524C;}
.st318{fill:#56635D;}
.st319{fill:#414F49;}
.st320{fill:#576862;}
.st321{fill:#576B63;}
.st322{fill:#527065;}
.st323{fill:#495F56;}
.st324{fill:#53655E;}
.st325{fill:#475750;}
.st326{fill:#9DAEA8;}
.st327{fill:#98A19D;}
.st328{fill:#465550;}
.st329{fill:#506D62;}
.st330{fill:#475853;}
.st331{fill:#44524D;}
.st332{fill:#404D47;}
.st333{fill:#5F756D;}
.st334{fill:#658278;}
.st335{fill:#5F7E76;}
.st336{fill:#57645F;}
.st337{fill:#455851;}
.st338{fill:#495E56;}
.st339{fill:#4D5F59;}
.st340{fill:#5B7970;}
.st341{fill:#45564F;}
.st342{fill:#475A53;}
.st343{fill:#48564F;}
.st344{fill:#526D64;}
.st345{fill:#515B56;}
.st346{fill:#43524B;}
.st347{fill:#576F66;}
.st348{fill:#636E69;}
.st349{fill:#45574F;}
.st350{fill:#4E5A54;}
.st351{fill:#546760;}
.st352{fill:#4A5B55;}
.st353{fill:#56726A;}
.st354{fill:#4B5D57;}
.st355{fill:#44534D;}
.st356{fill:#7B928A;}
.st357{fill:#536B65;}
.st358{fill:#6B7F77;}
.st359{fill:#65706B;}
.st360{fill:#73837D;}
.st361{fill:#758780;}
.st362{fill:#52675E;}
.st363{fill:#5C6964;}
.st364{fill:#485952;}
.st365{fill:#7F8B87;}
.st366{fill:#3B403C;}
.st367{fill:#46544F;}
.st368{fill:#4B6158;}
.st369{fill:#4D675E;}
.st370{fill:#69867C;}
.st371{fill:#6D837B;}
.st372{fill:#3C443F;}
.st373{fill:#586E66;}
.st374{fill:#5E7169;}
.st375{fill:#58796E;}
.st376{fill:#3F4843;}
.st377{fill:#596F67;}
.st378{fill:#4C645C;}
.st379{fill:#4B6058;}
.st380{fill:#516D63;}
.st381{fill:#506861;}
.st382{fill:#516962;}
.st383{fill:#6C887E;}
.st384{fill:#546E67;}
.st385{fill:#44554E;}
.st386{fill:#4C645B;}
.st387{fill:#5D6B65;}
.st388{fill:#42524B;}
.st389{fill:#505B56;}
.st390{fill:#4F635B;}
.st391{fill:#5E6A65;}
.st392{fill:#8EA09A;}
.st393{fill:#647A72;}
.st394{fill:#6D807A;}
.st395{fill:#4A5A55;}
.st396{fill:#70847F;}
.st397{fill:#45534D;}
.st398{fill:#597169;}
.st399{fill:#6F7F79;}
.st400{fill:#97A8A2;}
.st401{fill:#465A53;}
.st402{fill:#3D4741;}
.st403{fill:#586F66;}
.st404{fill:#65716C;}
.st405{fill:#98A9A3;}
.st406{fill:#587168;}
.st407{fill:#404F49;}
.st408{fill:#576861;}
.st409{fill:#6F8079;}
.st410{fill:#495F57;}
.st411{fill:#5D6A64;}
.st412{fill:#567067;}
.st413{fill:#5C7169;}
.st414{fill:#72827C;}
.st415{fill:#546E64;}
.st416{fill:#64776F;}
.st417{fill:#6B827A;}
.st418{fill:#8A9D97;}
.st419{fill:#414F48;}
.st420{fill:#7B918A;}
.st421{fill:#50615A;}
.st422{fill:#414B46;}
.st423{fill:#3B423D;}
.st424{fill:#708A81;}
.st425{fill:#7F968E;}
.st426{fill:#60746C;}
.st427{fill:#4E5F58;}
.st428{fill:#5E6C67;}
.st429{fill:#4A5751;}
.st430{fill:#9AAAA5;}
.st431{fill:#8C9792;}
.st432{fill:#3D453F;}
.st433{fill:#6A7872;}
.st434{fill:#43534B;}
.st435{fill:#626E69;}
.st436{fill:#4E6059;}
.st437{fill:#4C5C55;}
.st438{fill:#9BABA5;}
.st439{fill:#4F5752;}
.st440{fill:#4A6158;}
.st441{fill:#9DA8A4;}
.st442{fill:#5C6A64;}
.st443{fill:#678279;}
.st444{fill:#45524E;}
.st445{fill:#3D433F;}
.st446{fill:#566B63;}
.st447{fill:#55655F;}
.st448{fill:#91A29C;}
.st449{fill:#567469;}
.st450{fill:#8DA099;}
.st451{fill:#647D74;}
.st452{fill:#52645D;}
.st453{fill:#393F3A;}
.st454{fill:#46534F;}
.st455{fill:#4B5D56;}
.st456{fill:#5B6862;}
.st457{fill:#495A52;}
.st458{fill:#BEC5C3;}
.st459{fill:#475850;}
.st460{fill:#44514C;}
.st461{fill:#AAB5B2;}
.st462{fill:#3D4541;}
.st463{fill:#68716D;}
.st464{fill:#4D645D;}
.st465{fill:#58736D;}
.st466{fill:#9FACA8;}
.st467{fill:#6F7A76;}
.st468{fill:#74867E;}
.st469{fill:#404E48;}
.st470{fill:#858B88;}
.st471{fill:#80938C;}
.st472{fill:#546D67;}
.st473{fill:#566460;}
.st474{fill:#424B46;}
.st475{fill:#4B645A;}
.st476{fill:#B5BFBC;}
.st477{fill:#3A403B;}
.st478{fill:#515C58;}
.st479{fill:#7D8C86;}
.st480{fill:#A7B4AF;}
.st481{fill:#43524C;}
.st482{fill:#7A8E87;}
.st483{fill:#465751;}
.st484{fill:#404A46;}
.st485{fill:#4F6760;}
.st486{fill:#677F78;}
.st487{fill:#526962;}
.st488{fill:#526963;}
.st489{fill:#495954;}
.st490{fill:#748780;}
.st491{fill:#4D615B;}
.st492{fill:#707E78;}
.st493{fill:#4A514D;}
.st494{fill:#485B54;}
.st495{fill:#536D65;}
.st496{fill:#485651;}
.st497{fill:#424E48;}
.st498{fill:#464B47;}
.st499{fill:#3A3E3A;}
.st500{fill:#3F4844;}
.st501{fill:#45544F;}
.st502{fill:#556E67;}
.st503{fill:#3E4844;}
.st504{fill:#537368;}
.st505{fill:#5A7870;}
.st506{fill:#485D55;}
.st507{fill:#3D4843;}
.st508{fill:#3A423D;}
.st509{fill:#516761;}
.st510{fill:#5A7B6F;}
.st511{fill:#4D685E;}
.st512{fill:#3A413D;}
.st513{fill:#4B5E57;}
.st514{fill:#4D625A;}
.st515{fill:#597A70;}
.st516{fill:#3E4A45;}
.st517{fill:#465750;}
.st518{fill:#597970;}
/* PlaneToMesh (lines in back) */
.st519{fill:none;stroke:#9E9E9E;stroke-width:0.48;stroke-opacity:0.4275;}
.st520{fill:none;stroke:#CACACA;stroke-width:0.48;stroke-opacity:0.1412;}
.st521{fill:none;stroke:#C9C9C9;stroke-width:0.48;stroke-opacity:0.1059;}
.st522{fill:none;stroke:#CBCBCB;stroke-width:0.48;stroke-opacity:0.1804;}
.st523{fill:none;stroke:#C9C9C9;stroke-width:0.48;stroke-opacity:0.6784;}
.st524{fill:none;stroke:#CDCDCD;stroke-width:0.48;stroke-opacity:0.2275;}
.st525{fill:none;stroke:#C8C8C8;stroke-width:0.48;stroke-opacity:0.07450981;}
.st526{fill:none;stroke:#C7C7C7;stroke-width:0.48;stroke-opacity:0.05098039;}
.st527{fill:none;stroke:#CECECE;stroke-width:0.48;stroke-opacity:0.2824;}
.st528{fill:none;stroke:#C6C6C6;stroke-width:0.48;stroke-opacity:0.03137255;}
.st529{fill:none;stroke:#D0D0D0;stroke-width:0.48;stroke-opacity:0.6706;}
.st530{fill:none;stroke:#C6C6C6;stroke-width:0.48;stroke-opacity:0.01960784;}
.st531{fill:none;stroke:#C6C6C6;stroke-width:0.48;stroke-opacity:0.007843138;}
.st532{fill:none;stroke:#D0D0D0;stroke-width:0.48;stroke-opacity:0.3412;}
.st533{fill:none;stroke:#C5C5C5;stroke-width:0.48;stroke-opacity:0;}
.st534{fill:none;stroke:#D1D1D1;stroke-width:0.48;stroke-opacity:0.4039;}
.st535{fill:none;stroke:#BBBBBB;stroke-width:0.48;stroke-opacity:0.6549;}
.st536{fill:none;stroke:#ABABAB;stroke-width:0.48;stroke-opacity:0;}
.st537{fill:none;stroke:#D2D2D2;stroke-width:0.48;stroke-opacity:0.4667;}
.st538{fill:none;stroke:#AAAAAA;stroke-width:0.48;stroke-opacity:0.007843138;}
.st539{fill:none;stroke:#A9A9A9;stroke-width:0.48;stroke-opacity:0.03529412;}
.st540{fill:none;stroke:#D3D3D3;stroke-width:0.48;stroke-opacity:0.5333;}
.st541{fill:none;stroke:#A8A8A8;stroke-width:0.48;stroke-opacity:0.08235294;}
.st542{fill:none;stroke:#A6A6A6;stroke-width:0.48;stroke-opacity:0.149;}
.st543{fill:none;stroke:#D3D3D3;stroke-width:0.48;stroke-opacity:0.6392;}
.st544{fill:none;stroke:#A4A4A4;stroke-width:0.48;stroke-opacity:0.6;}
.st545{fill:none;stroke:#A3A3A3;stroke-width:0.48;stroke-opacity:0.2314;}
.st546{fill:none;stroke:#D4D4D4;stroke-width:0.48;stroke-opacity:0.5922;}
.st547{fill:none;stroke:#A1A1A1;stroke-width:0.48;stroke-opacity:0.3255;}
.st548{fill:none;stroke:#9E9E9E;stroke-width:0.48;stroke-opacity:0.5216;}
/* transistionSrfs (the animated part in the middle) */
.st549{opacity:0.03;fill:#D4D4D4;stroke:#C5C5C5;stroke-width:0.36;stroke-opacity:0;enable-background:new    ;}
.st550{opacity:0.06;fill:#D4D4D4;stroke:#C5C5C5;stroke-width:0.36;stroke-opacity:0;enable-background:new    ;}
.st551{opacity:0.09;fill:#D4D4D4;stroke:#C5C5C5;stroke-width:0.36;stroke-opacity:0;enable-background:new    ;}
.st552{opacity:0.12;fill:#D4D4D4;stroke:#C5C5C5;stroke-width:0.36;stroke-opacity:0;enable-background:new    ;}
.st553{opacity:0.15;fill:#D4D4D4;stroke:#C5C5C5;stroke-width:0.36;stroke-opacity:0;enable-background:new    ;}
.st554{opacity:0.18;fill:#D4D4D4;stroke:#C6C6C6;stroke-width:0.36;stroke-opacity:0.007843138;enable-background:new    ;}
.st555{opacity:0.21;fill:#D4D4D4;stroke:#C6C6C6;stroke-width:0.36;stroke-opacity:0.01960784;enable-background:new    ;}
.st556{opacity:0.24;fill:#D4D4D4;stroke:#C6C6C6;stroke-width:0.36;stroke-opacity:0.03137255;enable-background:new    ;}
.st557{opacity:0.27;fill:#D4D4D4;stroke:#C7C7C7;stroke-width:0.36;stroke-opacity:0.05098039;enable-background:new    ;}
.st558{opacity:0.3;fill:#D4D4D4;stroke:#C8C8C8;stroke-width:0.36;stroke-opacity:0.07450981;enable-background:new    ;}
.st559{opacity:0.33;fill:#D4D4D4;stroke:#C9C9C9;stroke-width:0.36;stroke-opacity:0.1059;enable-background:new    ;}
.st560{opacity:0.36;fill:#D4D4D4;stroke:#CACACA;stroke-width:0.36;stroke-opacity:0.1412;enable-background:new    ;}
.st561{opacity:0.39;fill:#D4D4D4;stroke:#CBCBCB;stroke-width:0.36;stroke-opacity:0.1804;enable-background:new    ;}
.st562{opacity:0.42;fill:#D4D4D4;stroke:#CDCDCD;stroke-width:0.36;stroke-opacity:0.2275;enable-background:new    ;}
.st563{opacity:0.46;fill:#D4D4D4;stroke:#CECECE;stroke-width:0.36;stroke-opacity:0.2824;enable-background:new    ;}
.st564{opacity:0.49;fill:#D4D4D4;stroke:#D0D0D0;stroke-width:0.36;stroke-opacity:0.3412;enable-background:new    ;}
.st565{opacity:0.52;fill:#D4D4D4;stroke:#D1D1D1;stroke-width:0.36;stroke-opacity:0.4039;enable-background:new    ;}
.st566{opacity:0.55;fill:#D4D4D4;stroke:#D2D2D2;stroke-width:0.36;stroke-opacity:0.4667;enable-background:new    ;}
.st567{opacity:0.58;fill:#D4D4D4;stroke:#D3D3D3;stroke-width:0.36;stroke-opacity:0.5333;enable-background:new    ;}
.st568{opacity:0.61;fill:#D4D4D4;stroke:#D4D4D4;stroke-width:0.36;stroke-opacity:0.5922;enable-background:new    ;}
.st569{opacity:0.63;fill:#D4D4D4;stroke:#D3D3D3;stroke-width:0.36;stroke-opacity:0.6392;enable-background:new    ;}
.st570{opacity:0.66;fill:#D4D4D4;stroke:#D0D0D0;stroke-width:0.36;stroke-opacity:0.6706;enable-background:new    ;}
.st571{opacity:0.66;fill:#D4D4D4;stroke:#C9C9C9;stroke-width:0.36;stroke-opacity:0.6784;enable-background:new    ;}
.st572{opacity:0.72;fill:#D4D4D4;stroke:#BBBBBB;stroke-width:0.36;stroke-opacity:0.6549;enable-background:new    ;}
.st573{opacity:0.75;fill:#D4D4D4;stroke:#A4A4A4;stroke-width:0.36;stroke-opacity:0.6;enable-background:new    ;}
.st574{opacity:0.78;fill:#D4D4D4;stroke:#9E9E9E;stroke-width:0.36;stroke-opacity:0.5216;enable-background:new    ;}
.st575{opacity:0.81;fill:#D4D4D4;stroke:#9E9E9E;stroke-width:0.36;stroke-opacity:0.4275;enable-background:new    ;}
.st576{opacity:0.84;fill:#D4D4D4;stroke:#A1A1A1;stroke-width:0.36;stroke-opacity:0.3255;enable-background:new    ;}
.st577{opacity:0.87;fill:#D4D4D4;stroke:#A3A3A3;stroke-width:0.36;stroke-opacity:0.2314;enable-background:new    ;}
.st578{opacity:0.9;fill:#D4D4D4;stroke:#A6A6A6;stroke-width:0.36;stroke-opacity:0.149;enable-background:new    ;}
.st579{opacity:0.93;fill:#D4D4D4;stroke:#A8A8A8;stroke-width:0.36;stroke-opacity:0.08235294;enable-background:new    ;}
.st580{opacity:0.96;fill:#D4D4D4;stroke:#A9A9A9;stroke-width:0.36;stroke-opacity:0.03529412;enable-background:new    ;}
.st581{opacity:0.97;fill:#D4D4D4;stroke:#AAAAAA;stroke-width:0.36;stroke-opacity:0.007843138;enable-background:new    ;}
.st582{opacity:0.98;fill:#D4D4D4;stroke:#ABABAB;stroke-width:0.36;stroke-opacity:0;enable-background:new    ;}
.st583{display:none;fill:#D4D4D4;stroke:#ABABAB;stroke-width:0.36;stroke-opacity:0;}
/* WrapMeshHatch (2nd from front in color) */
.st584{fill:#484027;}
.st585{fill:#564220;}
.st586{fill:#534221;}
.st587{fill:#3E3F2B;}
.st588{fill:#444028;}
.st589{fill:#4D4422;}
.st590{fill:#494222;}
.st591{fill:#784E01;}
.st592{fill:#3B3E2E;}
.st593{fill:#7C5409;}
.st594{fill:#835D16;}
.st595{fill:#3C3E2D;}
.st596{fill:#6B5420;}
.st597{fill:#87621F;}
.st598{fill:#816124;}
.st599{fill:#694D12;}
.st600{fill:#3A3E2E;}
.st601{fill:#3B3E2D;}
.st602{fill:#414028;}
.st603{fill:#876422;}
.st604{fill:#413F2A;}
.st605{fill:#54451A;}
.st606{fill:#5C431C;}
.st607{fill:#423F2A;}
.st608{fill:#3F3F2B;}
.st609{fill:#674516;}
.st610{fill:#835E19;}
.st611{fill:#9B7C44;}
.st612{fill:#744313;}
.st613{fill:#434029;}
.st614{fill:#56461A;}
.st615{fill:#6C4C0B;}
.st616{fill:#6D4316;}
.st617{fill:#454125;}
.st618{fill:#4E431E;}
.st619{fill:#9E804A;}
.st620{fill:#7A5106;}
.st621{fill:#704117;}
.st622{fill:#8C6E33;}
.st623{fill:#5C4714;}
.st624{fill:#5F3926;}
.st625{fill:#784E02;}
.st626{fill:#B69F76;}
.st627{fill:#6D5624;}
.st628{fill:#373D30;}
.st629{fill:#614810;}
.st630{fill:#C2AE8B;}
.st631{fill:#503134;}
.st632{fill:#3A3E2D;}
.st633{fill:#C6B494;}
.st634{fill:#4A4126;}
.st635{fill:#5B4715;}
.st636{fill:#77460F;}
.st637{fill:#464028;}
.st638{fill:#7F570E;}
.st639{fill:#373E2F;}
.st640{fill:#7A5C1F;}
.st641{fill:#403F2B;}
.st642{fill:#52441C;}
.st643{fill:#694E15;}
.st644{fill:#574617;}
.st645{fill:#424027;}
.st646{fill:#87631F;}
.st647{fill:#683D1E;}
.st648{fill:#6D4C0C;}
.st649{fill:#6E4C09;}
.st650{fill:#383E2F;}
.st651{fill:#60441A;}
.st652{fill:#78480D;}
.st653{fill:#4E441E;}
.st654{fill:#764F05;}
.st655{fill:#77470E;}
.st656{fill:#7A5105;}
.st657{fill:#5D4714;}
.st658{fill:#784F02;}
.st659{fill:#774D01;}
.st660{fill:#52451C;}
.st661{fill:#4B4125;}
.st662{fill:#6F4C08;}
.st663{fill:#59431E;}
.st664{fill:#494126;}
.st665{fill:#714611;}
.st666{fill:#754D03;}
.st667{fill:#564519;}
.st668{fill:#393E2E;}
.st669{fill:#3C3F2B;}
.st670{fill:#734710;}
.st671{fill:#6A4B0B;}
.st672{fill:#424127;}
.st673{fill:#744710;}
.st674{fill:#3E3F2C;}
.st675{fill:#3F3F2C;}
.st676{fill:#6A4515;}
.st677{fill:#7D460D;}
.st678{fill:#50441D;}
.st679{fill:#654417;}
.st680{fill:#393E2F;}
.st681{fill:#724D08;}
.st682{fill:#3B3F2C;}
.st683{fill:#454028;}
.st684{fill:#464224;}
.st685{fill:#504123;}
.st686{fill:#333D32;}
.st687{fill:#7D470D;}
.st688{fill:#58421E;}
.st689{fill:#434126;}
.st690{fill:#474027;}
.st691{fill:#55451A;}
.st692{fill:#3D3E2D;}
.st693{fill:#6E4B08;}
.st694{fill:#764D02;}
.st695{fill:#794F03;}
.st696{fill:#684516;}
.st697{fill:#4A4026;}
.st698{fill:#404029;}
.st699{fill:#574618;}
.st700{fill:#51441C;}
.st701{fill:#5E431B;}
.st702{fill:#4C4320;}
.st703{fill:#78520B;}
.st704{fill:#433F29;}
.st705{fill:#75500A;}
.st706{fill:#7E560D;}
.st707{fill:#433F2A;}
.st708{fill:#3E402A;}
.st709{fill:#5E441B;}
.st710{fill:#53451B;}
.st711{fill:#5B431D;}
.st712{fill:#544221;}
.st713{fill:#654518;}
.st714{fill:#4F441E;}
.st715{fill:#353D30;}
.st716{fill:#704D09;}
.st717{fill:#7F490A;}
.st718{fill:#343D32;}
.st719{fill:#494026;}
.st720{fill:#4A4222;}
.st721{fill:#624912;}
.st722{fill:#684A0C;}
.st723{fill:#484223;}
.st724{fill:#754D02;}
.st725{fill:#4C4125;}
.st726{fill:#795004;}
.st727{fill:#514122;}
.st728{fill:#464124;}
.st729{fill:#343D31;}
.st730{fill:#5A431D;}
.st731{fill:#51441D;}
.st732{fill:#804909;}
.st733{fill:#4B4025;}
.st734{fill:#5D431C;}
.st735{fill:#835C15;}
.st736{fill:#896420;}
.st737{fill:#7A5510;}
.st738{fill:#4E4124;}
.st739{fill:#714D09;}
.st740{fill:#353D31;}
.st741{fill:#4B4321;}
.st742{fill:#674A0C;}
.st743{fill:#4D4124;}
.st744{fill:#6B4D0F;}
.st745{fill:#7B5208;}
.st746{fill:#7A480C;}
.st747{fill:#654517;}
.st748{fill:#514222;}
.st749{fill:#4B4320;}
.st750{fill:#363D30;}
.st751{fill:#614419;}
.st752{fill:#6B4614;}
.st753{fill:#3D3F2B;}
.st754{fill:#3D3F2D;}
.st755{fill:#4F4123;}
.st756{fill:#694A0B;}
.st757{fill:#88631F;}
.st758{fill:#453F29;}
.st759{fill:#56421F;}
.st760{fill:#7C5814;}
.st761{fill:#8E6C2B;}
.st762{fill:#734F09;}
.st763{fill:#443F29;}
.st764{fill:#4E431F;}
.st765{fill:#5E4713;}
.st766{fill:#6B4A0A;}
.st767{fill:#714F0D;}
.st768{fill:#774E02;}
.st769{fill:#54451B;}
.st770{fill:#4C431F;}
.st771{fill:#7B5207;}
.st772{fill:#634419;}
.st773{fill:#524121;}
.st774{fill:#6D4613;}
.st775{fill:#444125;}
.st776{fill:#6E4B07;}
.st777{fill:#644418;}
.st778{fill:#886420;}
.st779{fill:#7B5814;}
.st780{fill:#775008;}
.st781{fill:#363D31;}
.st782{fill:#8E6B2B;}
.st783{fill:#7E480A;}
.st784{fill:#634418;}
.st785{fill:#404028;}
.st786{fill:#3A3E2F;}
.st787{fill:#323D32;}
.st788{fill:#784F03;}
.st789{fill:#6F4C07;}
.st790{fill:#7D550B;}
.st791{fill:#634518;}
.st792{fill:#7C5308;}
.st793{fill:#5A4716;}
.st794{fill:#6E4612;}
.st795{fill:#594616;}
.st796{fill:#5E411E;}
.st797{fill:#744215;}
.st798{fill:#86611C;}
.st799{fill:#754E04;}
.st800{fill:#3E3E2C;}
.st801{fill:#3F4029;}
.st802{fill:#383E2E;}
.st803{fill:#795612;}
.st804{fill:#8B6724;}
.st805{fill:#7A5208;}
.st806{fill:#413F2B;}
.st807{fill:#714C06;}
.st808{fill:#704019;}
.st809{fill:#775007;}
.st810{fill:#754F08;}
.st811{fill:#3D3E2C;}
.st812{fill:#614811;}
.st813{fill:#7E570D;}
.st814{fill:#724C04;}
.st815{fill:#794F02;}
.st816{fill:#7C5309;}
.st817{fill:#7A5206;}
.st818{fill:#50441E;}
.st819{fill:#624910;}
.st820{fill:#835C16;}
.st821{fill:#80480B;}
.st822{fill:#6C4B0A;}
.st823{fill:#624810;}
.st824{fill:#77530E;}
.st825{fill:#383D2F;}
.st826{fill:#52431F;}
.st827{fill:#5A431E;}
.st828{fill:#76470E;}
.st829{fill:#86601C;}
.st830{fill:#775310;}
.st831{fill:#604812;}
.st832{fill:#7B5308;}
.st833{fill:#664517;}
.st834{fill:#5C421C;}
.st835{fill:#795005;}
.st836{fill:#624419;}
.st837{fill:#61441A;}
.st838{fill:#7C460E;}
.st839{fill:#7F570F;}
.st840{fill:#6A4A0B;}
.st841{fill:#4F431E;}
.st842{fill:#7F580F;}
.st843{fill:#6B4B0A;}
.st844{fill:#3A3F2D;}
.st845{fill:#7F4909;}
.st846{fill:#724D07;}
.st847{fill:#845E17;}
.st848{fill:#604811;}
.st849{fill:#6A4A0A;}
.st850{fill:#815A13;}
.st851{fill:#7D560C;}
.st852{fill:#74510D;}
.st853{fill:#4A4321;}
.st854{fill:#916F30;}
.st855{fill:#323D33;}
.st856{fill:#754412;}
.st857{fill:#673C20;}
.st858{fill:#7B5309;}
.st859{fill:#6D4B08;}
.st860{fill:#634814;}
.st861{fill:#653B22;}
.st862{fill:#584920;}
.st863{fill:#6E3F1A;}
.st864{fill:#4D431F;}
.st865{fill:#764E02;}
.st866{fill:#704C06;}
.st867{fill:#734C04;}
.st868{fill:#393F2D;}
.st869{fill:#454224;}
.st870{fill:#7D540A;}
.st871{fill:#504122;}
.st872{fill:#363E2F;}
.st873{fill:#714F0B;}
.st874{fill:#74470F;}
.st875{fill:#7E470C;}
.st876{fill:#937133;}
.st877{fill:#7B480B;}
.st878{fill:#834907;}
.st879{fill:#AB9161;}
.st880{fill:#5C4B1F;}
.st881{fill:#744D03;}
.st882{fill:#855F1A;}
.st883{fill:#7A5004;}
.st884{fill:#474028;}
.st885{fill:#724C05;}
.st886{fill:#814908;}
.st887{fill:#704612;}
.st888{fill:#694515;}
.st889{fill:#785006;}
.st890{fill:#814909;}
.st891{fill:#6F4D0A;}
.st892{fill:#7B480C;}
.st893{fill:#554220;}
.st894{fill:#655A37;}
.st895{fill:#754214;}
.st896{fill:#584617;}
.st897{fill:#896421;}
.st898{fill:#564618;}
.st899{fill:#524221;}
.st900{fill:#774F05;}
.st901{fill:#5F441B;}
.st902{fill:#7E560C;}
.st903{fill:#7C490B;}
.st904{fill:#714D08;}
.st905{fill:#58431E;}
.st906{fill:#4A4221;}
.st907{fill:#9D7F47;}
.st908{fill:#363E30;}
.st909{fill:#6F3F19;}
.st910{fill:#444225;}
.st911{fill:#3D3F2C;}
.st912{fill:#BAA57E;}
.st913{fill:#805910;}
.st914{fill:#744E06;}
.st915{fill:#724711;}
.st916{fill:#6D4B09;}
.st917{fill:#5F522C;}
.st918{fill:#333D31;}
.st919{fill:#87611D;}
.st920{fill:#7E470D;}
.st921{fill:#8C6827;}
.st922{fill:#7C480B;}
.st923{fill:#79480D;}
.st924{fill:#886320;}
.st925{fill:#6C4614;}
.st926{fill:#766E52;}
.st927{fill:#58431F;}
.st928{fill:#544220;}
.st929{fill:#744D04;}
.st930{fill:#A28651;}
.st931{fill:#764313;}
.st932{fill:#C0AD89;}
.st933{fill:#52451B;}
.st934{fill:#3D402B;}
.st935{fill:#6A4615;}
.st936{fill:#655833;}
.st937{fill:#7D550A;}
.st938{fill:#7D540B;}
.st939{fill:#704712;}
.st940{fill:#714018;}
.st941{fill:#765008;}
.st942{fill:#65490E;}
.st943{fill:#674A0D;}
.st944{fill:#764D01;}
.st945{fill:#754D04;}
.st946{fill:#6F4D09;}
.st947{fill:#8A6623;}
.st948{fill:#A58956;}
.st949{fill:#7E7962;}
.st950{fill:#7D490A;}
.st951{fill:#805911;}
.st952{fill:#C2B08D;}
.st953{fill:#774E01;}
.st954{fill:#6C4B09;}
.st955{fill:#704611;}
.st956{fill:#524222;}
.st957{fill:#7B5307;}
.st958{fill:#7C530A;}
.st959{fill:#454029;}
.st960{fill:#5C4715;}
.st961{fill:#896422;}
.st962{fill:#825A13;}
.st963{fill:#79470D;}
.st964{fill:#795003;}
.st965{fill:#784411;}
.st966{fill:#7D550C;}
.st967{fill:#675A36;}
.st968{fill:#916F31;}
.st969{fill:#4A4125;}
.st970{fill:#764D03;}
.st971{fill:#6F4C09;}
.st972{fill:#A88D5C;}
.st973{fill:#7C540A;}
.st974{fill:#C4B290;}
.st975{fill:#684515;}
.st976{fill:#805810;}
.st977{fill:#8B6725;}
.st978{fill:#807D69;}
.st979{fill:#7D560F;}
.st980{fill:#855F19;}
.st981{fill:#947437;}
.st982{fill:#714C05;}
.st983{fill:#7A4510;}
.st984{fill:#444029;}
.st985{fill:#774F04;}
.st986{fill:#373D2F;}
.st987{fill:#655935;}
.st988{fill:#6B4514;}
.st989{fill:#734D04;}
.st990{fill:#AB9162;}
.st991{fill:#514221;}
.st992{fill:#815A12;}
.st993{fill:#825B14;}
.st994{fill:#674517;}
.st995{fill:#4F441D;}
.st996{fill:#845E18;}
.st997{fill:#724F0B;}
.st998{fill:#764E03;}
.st999{fill:#774312;}
.st1000{fill:#3C3F2C;}
.st1001{fill:#63490F;}
.st1002{fill:#8D6A28;}
.st1003{fill:#7C5711;}
.st1004{fill:#6E4613;}
.st1005{fill:#87621E;}
.st1006{fill:#807E6B;}
.st1007{fill:#906D2E;}
.st1008{fill:#724D05;}
.st1009{fill:#947336;}
.st1010{fill:#98793E;}
.st1011{fill:#7E470B;}
.st1012{fill:#AF9669;}
.st1013{fill:#7B460E;}
.st1014{fill:#76480F;}
.st1015{fill:#825B13;}
.st1016{fill:#635734;}
.st1017{fill:#484026;}
.st1018{fill:#C8B798;}
.st1019{fill:#52441B;}
.st1020{fill:#3C3E2E;}
.st1021{fill:#896522;}
.st1022{fill:#7A5714;}
.st1023{fill:#8F6D2D;}
.st1024{fill:#6A4B0A;}
.st1025{fill:#644518;}
.st1026{fill:#4E441F;}
.st1027{fill:#6E4D0C;}
.st1028{fill:#7B450F;}
.st1029{fill:#4D441F;}
.st1030{fill:#85601B;}
.st1031{fill:#807E6C;}
.st1032{fill:#9C7E46;}
.st1033{fill:#64490F;}
.st1034{fill:#98783D;}
.st1035{fill:#A98E5D;}
.st1036{fill:#86601B;}
.st1037{fill:#A28550;}
.st1038{fill:#66490D;}
.st1039{fill:#B29B6F;}
.st1040{fill:#7E570E;}
.st1041{fill:#7F470B;}
.st1042{fill:#835D17;}
.st1043{fill:#CABA9C;}
.st1044{fill:#7D470C;}
.st1045{fill:#845E19;}
.st1046{fill:#4C4124;}
.st1047{fill:#775616;}
.st1048{fill:#625632;}
.st1049{fill:#927032;}
.st1050{fill:#3E3F2A;}
.st1051{fill:#8D6A29;}
.st1052{fill:#754F06;}
.st1053{fill:#4E4123;}
.st1054{fill:#A0834D;}
.st1055{fill:#817F6D;}
.st1056{fill:#7F470C;}
.st1057{fill:#694B0E;}
.st1058{fill:#3D3F2A;}
.st1059{fill:#A0824C;}
.st1060{fill:#484222;}
.st1061{fill:#927033;}
.st1062{fill:#B6A076;}
.st1063{fill:#7E570F;}
.st1064{fill:#845D17;}
.st1065{fill:#CDBDA1;}
.st1066{fill:#BEAA86;}
.st1067{fill:#6A4C0F;}
.st1068{fill:#BDA882;}
.st1069{fill:#735518;}
.st1070{fill:#80480A;}
.st1071{fill:#7E480B;}
.st1072{fill:#937235;}
.st1073{fill:#957438;}
.st1074{fill:#78480E;}
.st1075{fill:#615530;}
.st1076{fill:#474224;}
.st1077{fill:#393E2D;}
.st1078{fill:#A48855;}
.st1079{fill:#83806D;}
.st1080{fill:#997A40;}
.st1081{fill:#714D0A;}
.st1082{fill:#824908;}
.st1083{fill:#B9A47C;}
.st1084{fill:#7B5611;}
.st1085{fill:#644910;}
.st1086{fill:#A1844E;}
.st1087{fill:#A78B59;}
.st1088{fill:#CFC0A5;}
.st1089{fill:#424028;}
.st1090{fill:#57431F;}
.st1091{fill:#464125;}
.st1092{fill:#825C14;}
.st1093{fill:#6F531A;}
.st1094{fill:#98783E;}
.st1095{fill:#725213;}
.st1096{fill:#BDA883;}
.st1097{fill:#62552E;}
.st1098{fill:#414127;}
.st1099{fill:#D2C3AA;}
.st1100{fill:#56431F;}
.st1101{fill:#A88D5B;}
.st1102{fill:#474223;}
.st1103{fill:#87826D;}
.st1104{fill:#D5C9B2;}
.st1105{fill:#3E4029;}
.st1106{fill:#9A7B42;}
.st1107{fill:#724E0A;}
.st1108{fill:#BCA782;}
.st1109{fill:#765514;}
.st1110{fill:#99793F;}
.st1111{fill:#844A07;}
.st1112{fill:#D1C3A9;}
.st1113{fill:#87621D;}
.st1114{fill:#AF9769;}
.st1115{fill:#805A13;}
.st1116{fill:#5F4812;}
.st1117{fill:#6A511B;}
.st1118{fill:#AC9263;}
.st1119{fill:#9B7D43;}
.st1120{fill:#414027;}
.st1121{fill:#64552C;}
.st1122{fill:#7A591A;}
.st1123{fill:#3A3F2C;}
.st1124{fill:#75470F;}
.st1125{fill:#B7A178;}
.st1126{fill:#8B846C;}
.st1127{fill:#CEBFA3;}
.st1128{fill:#E0D6C5;}
.st1129{fill:#9E814A;}
.st1130{fill:#BFAB86;}
.st1131{fill:#705215;}
.st1132{fill:#E9E2D5;}
.st1133{fill:#D3C5AC;}
.st1134{fill:#353E30;}
.st1135{fill:#7B5713;}
.st1136{fill:#3F3E2C;}
.st1137{fill:#654F1C;}
.st1138{fill:#BCA781;}
.st1139{fill:#9E8049;}
.st1140{fill:#675529;}
.st1141{fill:#3F402A;}
.st1142{fill:#8F866C;}
.st1143{fill:#AD9465;}
.st1144{fill:#826122;}
.st1145{fill:#464027;}
.st1146{fill:#C7B696;}
.st1147{fill:#574518;}
.st1148{fill:#694F17;}
.st1149{fill:#DACFBA;}
.st1150{fill:#E9E2D6;}
.st1151{fill:#594617;}
.st1152{fill:#D5C7AF;}
.st1153{fill:#715215;}
.st1154{fill:#724611;}
.st1155{fill:#825C15;}
.st1156{fill:#8A6523;}
.st1157{fill:#6A4514;}
.st1158{fill:#5D4713;}
.st1159{fill:#614D1C;}
.st1160{fill:#B69F75;}
.st1161{fill:#A88C5B;}
.st1162{fill:#F5F1EB;}
.st1163{fill:#744E05;}
.st1164{fill:#6A5627;}
.st1165{fill:#423F29;}
.st1166{fill:#7E490A;}
.st1167{fill:#444126;}
.st1168{fill:#92886C;}
.st1169{fill:#AE9668;}
.st1170{fill:#B0986B;}
.st1171{fill:#8A692C;}
.st1172{fill:#7C550D;}
.st1173{fill:#D4C7AF;}
.st1174{fill:#363D2F;}
.st1175{fill:#644D19;}
.st1176{fill:#3B3F2D;}
.st1177{fill:#714E0A;}
.st1178{fill:#C1AE8B;}
.st1179{fill:#704C08;}
.st1180{fill:#654A11;}
.st1181{fill:#644D17;}
.st1182{fill:#624911;}
.st1183{fill:#5F441A;}
.st1184{fill:#D6C9B2;}
.st1185{fill:#5E4B1C;}
.st1186{fill:#E2D9C9;}
.st1187{fill:#6C5725;}
.st1188{fill:#744F08;}
.st1189{fill:#EDE8DE;}
.st1190{fill:#C1AF8C;}
.st1191{fill:#8B6826;}
.st1192{fill:#FAF9F7;}
.st1193{fill:#CCBCA0;}
.st1194{fill:#5D441B;}
.st1195{fill:#93896E;}
.st1196{fill:#AF9668;}
.st1197{fill:#B0986C;}
.st1198{fill:#5F4B19;}
.st1199{fill:#7C540B;}
.st1200{fill:#907035;}
.st1201{fill:#834908;}
.st1202{fill:#734E05;}
.st1203{fill:#DED3C1;}
.st1204{fill:#6F4D0B;}
.st1205{fill:#5A4819;}
.st1206{fill:#694516;}
.st1207{fill:#9D7F48;}
.st1208{fill:#6A4D12;}
.st1209{fill:#D7CAB4;}
.st1210{fill:#5B4A1C;}
.st1211{fill:#755311;}
.st1212{fill:#494027;}
.st1213{fill:#8B6624;}
.st1214{fill:#7D480B;}
.st1215{fill:#E6DFD1;}
.st1216{fill:#494322;}
.st1217{fill:#CBBB9D;}
.st1218{fill:#EFEAE2;}
.st1219{fill:#9C7D45;}
.st1220{fill:#FDFDFC;}
.st1221{fill:#AE9567;}
.st1222{fill:#CFC1A6;}
.st1223{fill:#928A70;}
.st1224{fill:#AF976A;}
.st1225{fill:#5C4919;}
.st1226{fill:#56451A;}
.st1227{fill:#9B7B42;}
.st1228{fill:#5B4716;}
.st1229{fill:#95763C;}
.st1230{fill:#C1AE8A;}
.st1231{fill:#E4DCCE;}
.st1232{fill:#6B4C0C;}
.st1233{fill:#9A7B41;}
.st1234{fill:#584518;}
.st1235{fill:#745518;}
.st1236{fill:#5A491B;}
.st1237{fill:#D7CBB4;}
.st1238{fill:#6B5727;}
.st1239{fill:#825D18;}
.st1240{fill:#7A470E;}
.st1241{fill:#A78D5B;}
.st1242{fill:#E8E1D4;}
.st1243{fill:#EFEBE2;}
.st1244{fill:#AD9364;}
.st1245{fill:#FEFEFD;}
.st1246{fill:#6D4F12;}
.st1247{fill:#D0C2A7;}
.st1248{fill:#AE9566;}
.st1249{fill:#745009;}
.st1250{fill:#908A74;}
.st1251{fill:#744214;}
.st1252{fill:#AA9060;}
.st1253{fill:#623A24;}
.st1254{fill:#C0AC88;}
.st1255{fill:#997A42;}
.st1256{fill:#97773B;}
.st1257{fill:#654A0E;}
.st1258{fill:#59481B;}
.st1259{fill:#594618;}
.st1260{fill:#7E5E21;}
.st1261{fill:#A58A57;}
.st1262{fill:#A68A57;}
.st1263{fill:#744314;}
.st1264{fill:#69562A;}
.st1265{fill:#9D7E46;}
.st1266{fill:#7E5B17;}
.st1267{fill:#744610;}
.st1268{fill:#5F4814;}
.st1269{fill:#643A23;}
.st1270{fill:#EEEAE0;}
.st1271{fill:#AA8F5F;}
.st1272{fill:#FEFEFE;}
.st1273{fill:#594719;}
.st1274{fill:#BCA882;}
.st1275{fill:#513133;}
.st1276{fill:#B7A179;}
.st1277{fill:#8D8A78;}
.st1278{fill:#6A3D1E;}
.st1279{fill:#78460F;}
.st1280{fill:#9D7E47;}
.st1281{fill:#927236;}
.st1282{fill:#7D5711;}
.st1283{fill:#BEAA85;}
.st1284{fill:#9B7D45;}
.st1285{fill:#B8A27A;}
.st1286{fill:#5E4813;}
.st1287{fill:#ECE6DB;}
.st1288{fill:#564619;}
.st1289{fill:#59481A;}
.st1290{fill:#86662A;}
.st1291{fill:#D7CAB3;}
.st1292{fill:#8B6726;}
.st1293{fill:#A38752;}
.st1294{fill:#6D401A;}
.st1295{fill:#E7DFD2;}
.st1296{fill:#B6A077;}
.st1297{fill:#66562D;}
.st1298{fill:#97773C;}
.st1299{fill:#714414;}
.st1300{fill:#52441D;}
.st1301{fill:#56342F;}
.st1302{fill:#544519;}
.st1303{fill:#584618;}
.st1304{fill:#D9CDB7;}
.st1305{fill:#957539;}
.st1306{fill:#EDE7DD;}
.st1307{fill:#584719;}
.st1308{fill:#664C13;}
.st1309{fill:#442C3E;}
.st1310{fill:#CDBEA1;}
.st1311{fill:#C9B899;}
.st1312{fill:#5A362C;}
.st1313{fill:#714216;}
.st1314{fill:#8A8A7A;}
.st1315{fill:#9C7F47;}
.st1316{fill:#5A481A;}
.st1317{fill:#845F19;}
.st1318{fill:#C3B08E;}
.st1319{fill:#B0976A;}
.st1320{fill:#554519;}
.st1321{fill:#EEE8DF;}
.st1322{fill:#8A6B30;}
.st1323{fill:#86611D;}
.st1324{fill:#634911;}
.st1325{fill:#E4DCCC;}
.st1326{fill:#50431F;}
.st1327{fill:#4B2F38;}
.st1328{fill:#683D1D;}
.st1329{fill:#6B4119;}
.st1330{fill:#7C5712;}
.st1331{fill:#C5B391;}
.st1332{fill:#635631;}
.st1333{fill:#A58955;}
.st1334{fill:#EAE3D6;}
.st1335{fill:#FDFCFB;}
.st1336{fill:#DBCFBA;}
.st1337{fill:#594718;}
.st1338{fill:#3E2943;}
.st1339{fill:#6E4C08;}
.st1340{fill:#A68B58;}
.st1341{fill:#6D5015;}
.st1342{fill:#D2C4AA;}
.st1343{fill:#846932;}
.st1344{fill:#5B431C;}
.st1345{fill:#4F3134;}
.st1346{fill:#6A3E1C;}
.st1347{fill:#6F4E0C;}
.st1348{fill:#9B7D44;}
.st1349{fill:#C6B595;}
.st1350{fill:#B9A37C;}
.st1351{fill:#5C4818;}
.st1352{fill:#DFD5C3;}
.st1353{fill:#898A7C;}
.st1354{fill:#EFEAE1;}
.st1355{fill:#8C6D31;}
.st1356{fill:#6E4514;}
.st1357{fill:#4F4221;}
.st1358{fill:#462C3D;}
.st1359{fill:#5B4818;}
.st1360{fill:#673F1D;}
.st1361{fill:#E4DCCD;}
.st1362{fill:#5B4615;}
.st1363{fill:#F9F7F4;}
.st1364{fill:#725110;}
.st1365{fill:#A48753;}
.st1366{fill:#DBD1BC;}
.st1367{fill:#625733;}
.st1368{fill:#3D2844;}
.st1369{fill:#78520C;}
.st1370{fill:#7C6432;}
.st1371{fill:#9C7E45;}
.st1372{fill:#D8CCB6;}
.st1373{fill:#653C20;}
.st1374{fill:#4D3036;}
.st1375{fill:#B59F75;}
.st1376{fill:#6A4C0E;}
.st1377{fill:#9D8049;}
.st1378{fill:#5F4917;}
.st1379{fill:#8C6C30;}
.st1380{fill:#6B4317;}
.st1381{fill:#4E4222;}
.st1382{fill:#F0ECE4;}
.st1383{fill:#CEC0A4;}
.st1384{fill:#DDD2BF;}
.st1385{fill:#434127;}
.st1386{fill:#D2C4AB;}
.st1387{fill:#F2EFE8;}
.st1388{fill:#452C3D;}
.st1389{fill:#5D441C;}
.st1390{fill:#574519;}
.st1391{fill:#9C7D44;}
.st1392{fill:#673E1D;}
.st1393{fill:#604B19;}
.st1394{fill:#D5C8B1;}
.st1395{fill:#4F4223;}
.st1396{fill:#664B11;}
.st1397{fill:#A88E5C;}
.st1398{fill:#434028;}
.st1399{fill:#CEBEA3;}
.st1400{fill:#DCD1BD;}
.st1401{fill:#7C550C;}
.st1402{fill:#5D4815;}
.st1403{fill:#756032;}
.st1404{fill:#422A41;}
.st1405{fill:#C7B595;}
.st1406{fill:#645835;}
.st1407{fill:#967539;}
.st1408{fill:#9A7A40;}
.st1409{fill:#B59E74;}
.st1410{fill:#D8CCB7;}
.st1411{fill:#643B21;}
.st1412{fill:#533232;}
.st1413{fill:#77591C;}
.st1414{fill:#E7E0D3;}
.st1415{fill:#C1AE8C;}
.st1416{fill:#68411A;}
.st1417{fill:#B29A6E;}
.st1418{fill:#B7A077;}
.st1419{fill:#644B14;}
.st1420{fill:#89692B;}
.st1421{fill:#97763B;}
.st1422{fill:#D0C1A7;}
.st1423{fill:#F2EEE6;}
.st1424{fill:#614912;}
.st1425{fill:#373E30;}
.st1426{fill:#D0C1A6;}
.st1427{fill:#492E3A;}
.st1428{fill:#D5C8B0;}
.st1429{fill:#6A401A;}
.st1430{fill:#8A8A7B;}
.st1431{fill:#7E5710;}
.st1432{fill:#6F4117;}
.st1433{fill:#664F1B;}
.st1434{fill:#D7CBB5;}
.st1435{fill:#8D6928;}
.st1436{fill:#DCD2BE;}
.st1437{fill:#C5B493;}
.st1438{fill:#6F5E33;}
.st1439{fill:#937134;}
.st1440{fill:#AA905F;}
.st1441{fill:#4C2F38;}
.st1442{fill:#673D1F;}
.st1443{fill:#906E2F;}
.st1444{fill:#665A36;}
.st1445{fill:#603826;}
.st1446{fill:#795B1E;}
.st1447{fill:#67411B;}
.st1448{fill:#B29A6F;}
.st1449{fill:#866425;}
.st1450{fill:#654B10;}
.st1451{fill:#CEBEA2;}
.st1452{fill:#694C11;}
.st1453{fill:#F3F0E9;}
.st1454{fill:#704315;}
.st1455{fill:#C4B292;}
.st1456{fill:#3C3F2D;}
.st1457{fill:#764511;}
.st1458{fill:#8C8979;}
.st1459{fill:#57421F;}
.st1460{fill:#D6C9B1;}
.st1461{fill:#AB9060;}
.st1462{fill:#A38652;}
.st1463{fill:#6E541C;}
.st1464{fill:#6C5C33;}
.st1465{fill:#654A0F;}
.st1466{fill:#504222;}
.st1467{fill:#7B530A;}
.st1468{fill:#C6B493;}
.st1469{fill:#6C3F1A;}
.st1470{fill:#604915;}
.st1471{fill:#9E8048;}
.st1472{fill:#8A6624;}
.st1473{fill:#724117;}
.st1474{fill:#4F4222;}
.st1475{fill:#5D3729;}
.st1476{fill:#695B37;}
.st1477{fill:#795B20;}
.st1478{fill:#82601E;}
.st1479{fill:#694218;}
.st1480{fill:#A68A58;}
.st1481{fill:#C9B898;}
.st1482{fill:#A98F5E;}
.st1483{fill:#F5F2EC;}
.st1484{fill:#6E4E0E;}
.st1485{fill:#C9B99A;}
.st1486{fill:#D8CDB7;}
.st1487{fill:#603926;}
.st1488{fill:#7A480D;}
.st1489{fill:#594717;}
.st1490{fill:#754610;}
.st1491{fill:#795006;}
.st1492{fill:#947236;}
.st1493{fill:#6A4E14;}
.st1494{fill:#8D8876;}
.st1495{fill:#373E2E;}
.st1496{fill:#6A5B34;}
.st1497{fill:#8E6B2A;}
.st1498{fill:#6A4B0C;}
.st1499{fill:#77591D;}
.st1500{fill:#9B7C43;}
.st1501{fill:#744413;}
.st1502{fill:#755009;}
.st1503{fill:#7F5B18;}
.st1504{fill:#775A20;}
.st1505{fill:#C0AC89;}
.st1506{fill:#6D4415;}
.st1507{fill:#6C5D38;}
.st1508{fill:#704018;}
.st1509{fill:#F6F4EF;}
.st1510{fill:#734F0A;}
.st1511{fill:#745313;}
.st1512{fill:#4E4320;}
.st1513{fill:#8B6625;}
.st1514{fill:#A38651;}
.st1515{fill:#6C4613;}
.st1516{fill:#825B15;}
.st1517{fill:#8F6C2D;}
.st1518{fill:#695B34;}
.st1519{fill:#BCA680;}
.st1520{fill:#704D08;}
.st1521{fill:#8E8873;}
.st1522{fill:#73500D;}
.st1523{fill:#735314;}
.st1524{fill:#79470E;}
.st1525{fill:#805F1F;}
.st1526{fill:#7E5812;}
.st1527{fill:#6E4C0A;}
.st1528{fill:#B59D73;}
.st1529{fill:#74581E;}
.st1530{fill:#A0834E;}
.st1531{fill:#7C5915;}
.st1532{fill:#F7F5F0;}
.st1533{fill:#6F5F39;}
.st1534{fill:#CDBDA0;}
.st1535{fill:#383E30;}
.st1536{fill:#815C18;}
.st1537{fill:#7F560D;}
.st1538{fill:#B8A279;}
.st1539{fill:#805912;}
.st1540{fill:#AC9262;}
.st1541{fill:#59431D;}
.st1542{fill:#77520D;}
.st1543{fill:#695B35;}
.st1544{fill:#453F28;}
.st1545{fill:#DACEB9;}
.st1546{fill:#77480E;}
.st1547{fill:#7C460D;}
.st1548{fill:#8F866F;}
.st1549{fill:#997940;}
.st1550{fill:#7D560E;}
.st1551{fill:#886523;}
.st1552{fill:#634910;}
.st1553{fill:#7A5005;}
.st1554{fill:#474124;}
.st1555{fill:#825D17;}
.st1556{fill:#6F541C;}
.st1557{fill:#815B13;}
.st1558{fill:#A48854;}
.st1559{fill:#4B4221;}
.st1560{fill:#754E05;}
.st1561{fill:#5F4813;}
.st1562{fill:#726039;}
.st1563{fill:#4D4321;}
.st1564{fill:#A78C5A;}
.st1565{fill:#9A7A41;}
.st1566{fill:#79530C;}
.st1567{fill:#957437;}
.st1568{fill:#B39C71;}
.st1569{fill:#6B5C35;}
.st1570{fill:#795208;}
.st1571{fill:#774E03;}
.st1572{fill:#96753A;}
.st1573{fill:#4A4025;}
.st1574{fill:#8F846C;}
.st1575{fill:#C8B697;}
.st1576{fill:#6B5119;}
.st1577{fill:#444026;}
.st1578{fill:#A58A56;}
.st1579{fill:#6F4D0C;}
.st1580{fill:#F6F3EE;}
.st1581{fill:#A1844F;}
.st1582{fill:#96763A;}
.st1583{fill:#5A4616;}
.st1584{fill:#4C4222;}
.st1585{fill:#79540C;}
.st1586{fill:#746138;}
.st1587{fill:#7B540C;}
.st1588{fill:#6D5E35;}
.st1589{fill:#916F32;}
.st1590{fill:#714711;}
.st1591{fill:#D0C2A8;}
.st1592{fill:#714D07;}
.st1593{fill:#8F8368;}
.st1594{fill:#674E17;}
.st1595{fill:#BFAB87;}
.st1596{fill:#504223;}
.st1597{fill:#5A4715;}
.st1598{fill:#927133;}
.st1599{fill:#4F4220;}
.st1600{fill:#A28551;}
.st1601{fill:#764E04;}
.st1602{fill:#7A540D;}
.st1603{fill:#784F04;}
.st1604{fill:#4A4223;}
.st1605{fill:#7B5106;}
.st1606{fill:#756137;}
.st1607{fill:#7E550C;}
.st1608{fill:#5E431C;}
.st1609{fill:#896729;}
.st1610{fill:#BBA57F;}
.st1611{fill:#715F34;}
.st1612{fill:#BBA67F;}
.st1613{fill:#574619;}
.st1614{fill:#C7B596;}
.st1615{fill:#8E8064;}
.st1616{fill:#754E03;}
.st1617{fill:#67490D;}
.st1618{fill:#413F29;}
.st1619{fill:#EFEAE0;}
.st1620{fill:#A1834E;}
.st1621{fill:#734D05;}
.st1622{fill:#494124;}
.st1623{fill:#774F03;}
.st1624{fill:#785109;}
.st1625{fill:#8F6C2C;}
.st1626{fill:#755F36;}
.st1627{fill:#C5B291;}
.st1628{fill:#7C5D20;}
.st1629{fill:#5D4917;}
.st1630{fill:#766133;}
.st1631{fill:#794F04;}
.st1632{fill:#8B7D61;}
.st1633{fill:#E8E0D3;}
.st1634{fill:#947337;}
.st1635{fill:#484125;}
.st1636{fill:#785007;}
.st1637{fill:#474125;}
.st1638{fill:#855E19;}
.st1639{fill:#CCBC9F;}
.st1640{fill:#734F0B;}
.st1641{fill:#8C6826;}
.st1642{fill:#6D531B;}
.st1643{fill:#735E33;}
.st1644{fill:#B39B70;}
.st1645{fill:#674D14;}
.st1646{fill:#7B6330;}
.st1647{fill:#C4B190;}
.st1648{fill:#76470F;}
.st1649{fill:#7A5612;}
.st1650{fill:#887B5D;}
.st1651{fill:#DED4C1;}
.st1652{fill:#41402A;}
.st1653{fill:#464126;}
.st1654{fill:#764F06;}
.st1655{fill:#5E4A19;}
.st1656{fill:#705B31;}
.st1657{fill:#C6B594;}
.st1658{fill:#725111;}
.st1659{fill:#6D4D0E;}
.st1660{fill:#937234;}
.st1661{fill:#7D490B;}
.st1662{fill:#6B4B0B;}
.st1663{fill:#6B4B09;}
.st1664{fill:#84775A;}
.st1665{fill:#424126;}
.st1666{fill:#80652E;}
.st1667{fill:#694B0C;}
.st1668{fill:#454126;}
.st1669{fill:#764E06;}
.st1670{fill:#7B5206;}
.st1671{fill:#7B5610;}
.st1672{fill:#6C582D;}
.st1673{fill:#9C7E47;}
.st1674{fill:#674B11;}
.st1675{fill:#684A0D;}
.st1676{fill:#807457;}
.st1677{fill:#BDA984;}
.st1678{fill:#AD9466;}
.st1679{fill:#85672B;}
.st1680{fill:#77470D;}
.st1681{fill:#724710;}
.st1682{fill:#7F570D;}
.st1683{fill:#B0976B;}
.st1684{fill:#75500B;}
.st1685{fill:#947335;}
.st1686{fill:#68552A;}
.st1687{fill:#907238;}
.st1688{fill:#7C7255;}
.st1689{fill:#65490F;}
.st1690{fill:#856424;}
.st1691{fill:#9F824C;}
.st1692{fill:#624A14;}
.st1693{fill:#AD9365;}
.st1694{fill:#896728;}
.st1695{fill:#B9A37B;}
.st1696{fill:#5F4915;}
.st1697{fill:#4D4320;}
.st1698{fill:#74520F;}
.st1699{fill:#53451A;}
.st1700{fill:#645227;}
.st1701{fill:#7F652F;}
.st1702{fill:#C4B291;}
.st1703{fill:#797053;}
.st1704{fill:#B49D72;}
.st1705{fill:#785B21;}
.st1706{fill:#5E4816;}
.st1707{fill:#8A6726;}
.st1708{fill:#A78C59;}
.st1709{fill:#7E550B;}
.st1710{fill:#4C4221;}
.st1711{fill:#6C4F14;}
.st1712{fill:#414029;}
.st1713{fill:#604F24;}
.st1714{fill:#725212;}
.st1715{fill:#6E5929;}
.st1716{fill:#3F3F2A;}
.st1717{fill:#4D4125;}
.st1718{fill:#695320;}
.st1719{fill:#5C4817;}
.st1720{fill:#4B4223;}
.st1721{fill:#785716;}
.st1722{fill:#926F31;}
.st1723{fill:#434027;}
.st1724{fill:#5D4C22;}
.st1725{fill:#5F4713;}
.st1726{fill:#734215;}
.st1727{fill:#605024;}
.st1728{fill:#7F5911;}
.st1729{fill:#6F5216;}
.st1730{fill:#746D51;}
.st1731{fill:#784F05;}
.st1732{fill:#5E4C1F;}
.st1733{fill:#CCBDA0;}
.st1734{fill:#A38753;}
.st1735{fill:#4A4124;}
.st1736{fill:#383D30;}
.st1737{fill:#5B4718;}
.st1738{fill:#644A11;}
.st1739{fill:#6F4612;}
.st1740{fill:#825E1C;}
.st1741{fill:#5A4A20;}
.st1742{fill:#6B3E1D;}
.st1743{fill:#63480F;}
.st1744{fill:#594A20;}
.st1745{fill:#736C51;}
.st1746{fill:#6A511A;}
.st1747{fill:#7B550E;}
.st1748{fill:#57481D;}
.st1749{fill:#D2C5AC;}
.st1750{fill:#6B3E1C;}
.st1751{fill:#8A6724;}
.st1752{fill:#644911;}
.st1753{fill:#8D6929;}
.st1754{fill:#5A4718;}
.st1755{fill:#58481E;}
.st1756{fill:#6C4D0D;}
.st1757{fill:#886522;}
.st1758{fill:#663C21;}
.st1759{fill:#56471C;}
.st1760{fill:#736C52;}
.st1761{fill:#55461A;}
.st1762{fill:#66501D;}
.st1763{fill:#9F814B;}
.st1764{fill:#81480A;}
.st1765{fill:#4B4124;}
.st1766{fill:#7A470D;}
.st1767{fill:#755008;}
.st1768{fill:#664B10;}
.st1769{fill:#734711;}
.st1770{fill:#514121;}
.st1771{fill:#736D53;}
.st1772{fill:#724D06;}
.st1773{fill:#9B7C42;}
.st1774{fill:#624F1F;}
.st1775{fill:#6F4B07;}
.st1776{fill:#D3C6AD;}
.st1777{fill:#75510B;}
.st1778{fill:#683C1F;}
.st1779{fill:#785107;}
.st1780{fill:#927031;}
.st1781{fill:#79460F;}
.st1782{fill:#6A4D0F;}
.st1783{fill:#5C441C;}
.st1784{fill:#55461B;}
.st1785{fill:#664A0F;}
.st1786{fill:#78540D;}
.st1787{fill:#736D54;}
.st1788{fill:#5F4E21;}
.st1789{fill:#CCBDA1;}
.st1790{fill:#693D1E;}
.st1791{fill:#6F4118;}
.st1792{fill:#744F0A;}
.st1793{fill:#6F3F1A;}
.st1794{fill:#795106;}
.st1795{fill:#734314;}
.st1796{fill:#8F6B2C;}
.st1797{fill:#6F4F0F;}
.st1798{fill:#5F4A18;}
.st1799{fill:#B1996D;}
.st1800{fill:#4D431E;}
.st1801{fill:#6C3E1C;}
.st1802{fill:#79460E;}
.st1803{fill:#746E55;}
.st1804{fill:#7A5309;}
.st1805{fill:#C0AD8A;}
.st1806{fill:#5D4D21;}
.st1807{fill:#5F3827;}
.st1808{fill:#6A3E1D;}
.st1809{fill:#684B0E;}
.st1810{fill:#8A692A;}
.st1811{fill:#794510;}
.st1812{fill:#6E4019;}
.st1813{fill:#8F6D2E;}
.st1814{fill:#644D18;}
.st1815{fill:#6D4C0A;}
.st1816{fill:#8C6927;}
.st1817{fill:#805C18;}
.st1818{fill:#B49D73;}
.st1819{fill:#B0986A;}
.st1820{fill:#756F55;}
.st1821{fill:#5C4C22;}
.st1822{fill:#8E6C2C;}
.st1823{fill:#846223;}
.st1824{fill:#5C362A;}
.st1825{fill:#8A6522;}
.st1826{fill:#714215;}
.st1827{fill:#6C3F1B;}
.st1828{fill:#85611D;}
.st1829{fill:#55451B;}
.st1830{fill:#7F480A;}
.st1831{fill:#6B5118;}
.st1832{fill:#704D07;}
.st1833{fill:#7F5810;}
.st1834{fill:#795410;}
.st1835{fill:#5B4C21;}
.st1836{fill:#7E5C1C;}
.st1837{fill:#766F56;}
.st1838{fill:#754F07;}
.st1839{fill:#715214;}
.st1840{fill:#8D6A2A;}
.st1841{fill:#494125;}
.st1842{fill:#AA9161;}
.st1843{fill:#85601C;}
.st1844{fill:#845D18;}
.st1845{fill:#54441B;}
.st1846{fill:#735519;}
.st1847{fill:#6A4614;}
.st1848{fill:#6B3F1B;}
.st1849{fill:#906E30;}
.st1850{fill:#795715;}
.st1851{fill:#917033;}
.st1852{fill:#5C431D;}
.st1853{fill:#787056;}
.st1854{fill:#683D1F;}
.st1855{fill:#484126;}
.st1856{fill:#7B5A1B;}
.st1857{fill:#53441C;}
.st1858{fill:#614A15;}
.st1859{fill:#744E07;}
.st1860{fill:#755210;}
.st1861{fill:#64490E;}
.st1862{fill:#5C4C20;}
.st1863{fill:#7F5912;}
.st1864{fill:#764314;}
.st1865{fill:#7A7155;}
.st1866{fill:#AB9262;}
.st1867{fill:#664A0D;}
.st1868{fill:#835F1D;}
.st1869{fill:#774511;}
.st1870{fill:#73500B;}
.st1871{fill:#594518;}
.st1872{fill:#916E30;}
.st1873{fill:#7B550D;}
.st1874{fill:#5D4C1E;}
.st1875{fill:#886421;}
.st1876{fill:#6C4B08;}
.st1877{fill:#88621E;}
.st1878{fill:#7D7254;}
.st1879{fill:#724E08;}
.st1880{fill:#5A4615;}
.st1881{fill:#444027;}
.st1882{fill:#774510;}
.st1883{fill:#3B3E2C;}
.st1884{fill:#604C1C;}
.st1885{fill:#906F32;}
.st1886{fill:#75520E;}
.st1887{fill:#584519;}
.st1888{fill:#484124;}
.st1889{fill:#B39C72;}
.st1890{fill:#AB9061;}
.st1891{fill:#8F6B2B;}
.st1892{fill:#817252;}
.st1893{fill:#634C19;}
.st1894{fill:#6F4E0D;}
.st1895{fill:#906F30;}
.st1896{fill:#5A4618;}
.st1897{fill:#4C4321;}
.st1898{fill:#6E4F11;}
.st1899{fill:#66490E;}
.st1900{fill:#654B13;}
.st1901{fill:#824909;}
.st1902{fill:#7C5611;}
.st1903{fill:#79480C;}
.st1904{fill:#674D15;}
.st1905{fill:#85734F;}
.st1906{fill:#917031;}
.st1907{fill:#7D5710;}
.st1908{fill:#74500A;}
.st1909{fill:#714D06;}
.st1910{fill:#5C4617;}
.st1911{fill:#6F4F10;}
.st1912{fill:#7C480C;}
.st1913{fill:#604813;}
.st1914{fill:#6B4E11;}
.st1915{fill:#7A540E;}
.st1916{fill:#88734D;}
.st1917{fill:#76520E;}
.st1918{fill:#784510;}
.st1919{fill:#795510;}
.st1920{fill:#5E4617;}
.st1921{fill:#614C18;}
.st1922{fill:#75510C;}
.st1923{fill:#A2854F;}
.st1924{fill:#8B734A;}
.st1925{fill:#724315;}
.st1926{fill:#775412;}
.st1927{fill:#424029;}
.st1928{fill:#643A22;}
.st1929{fill:#724215;}
.st1930{fill:#8D6B2B;}
.st1931{fill:#704E0D;}
.st1932{fill:#815B15;}
.st1933{fill:#C8B898;}
.st1934{fill:#5F4617;}
.st1935{fill:#5E4B1B;}
.st1936{fill:#704217;}
.st1937{fill:#8D7248;}
.st1938{fill:#694C0E;}
.st1939{fill:#5E4814;}
.st1940{fill:#88682B;}
.st1941{fill:#4B4126;}
.st1942{fill:#96763B;}
.st1943{fill:#604617;}
.st1944{fill:#5C4B1D;}
.st1945{fill:#A1834D;}
.st1946{fill:#785005;}
.st1947{fill:#8E7145;}
.st1948{fill:#7D480A;}
.st1949{fill:#87611C;}
.st1950{fill:#75571B;}
.st1951{fill:#614911;}
.st1952{fill:#693D1F;}
.st1953{fill:#6E4119;}
.st1954{fill:#644A10;}
.st1955{fill:#79520A;}
.st1956{fill:#C3B18F;}
.st1957{fill:#764412;}
.st1958{fill:#7F632A;}
.st1959{fill:#5B4B20;}
.st1960{fill:#8E7042;}
.st1961{fill:#53441B;}
.st1962{fill:#98773D;}
.st1963{fill:#72571F;}
.st1964{fill:#624A13;}
.st1965{fill:#734D06;}
.st1966{fill:#714F0C;}
.st1967{fill:#7C470D;}
.st1968{fill:#403F2A;}
.st1969{fill:#B59E75;}
.st1970{fill:#5F4518;}
.st1971{fill:#725A27;}
.st1972{fill:#564518;}
.st1973{fill:#5B4C22;}
.st1974{fill:#A0834C;}
.st1975{fill:#8D6E3F;}
.st1976{fill:#5F4712;}
.st1977{fill:#684C11;}
.st1978{fill:#6D5522;}
.st1979{fill:#50431E;}
.st1980{fill:#774610;}
.st1981{fill:#484224;}
.st1982{fill:#494223;}
.st1983{fill:#5D431B;}
.st1984{fill:#5D4519;}
.st1985{fill:#744D05;}
.st1986{fill:#5B4D23;}
.st1987{fill:#9F824B;}
.st1988{fill:#8B6B3B;}
.st1989{fill:#704C07;}
.st1990{fill:#645122;}
.st1991{fill:#8E6A2A;}
.st1992{fill:#6D4E0F;}
.st1993{fill:#78470E;}
.st1994{fill:#675323;}
.st1995{fill:#754313;}
.st1996{fill:#5C441A;}
.st1997{fill:#896624;}
.st1998{fill:#876837;}
.st1999{fill:#8D6B2A;}
.st2000{fill:#754E06;}
.st2001{fill:#59491D;}
.st2002{fill:#72510E;}
.st2003{fill:#CABA9B;}
.st2004{fill:#784E03;}
.st2005{fill:#615023;}
.st2006{fill:#6D3F1A;}
.st2007{fill:#59441B;}
.st2008{fill:#836433;}
.st2009{fill:#5C4D24;}
.st2010{fill:#98773C;}
.st2011{fill:#50441C;}
.st2012{fill:#474126;}
.st2013{fill:#765513;}
.st2014{fill:#78540F;}
.st2015{fill:#785108;}
.st2016{fill:#D4C7AE;}
.st2017{fill:#7E602E;}
.st2018{fill:#57431D;}
.st2019{fill:#5C4C21;}
.st2020{fill:#5C4D23;}
.st2021{fill:#51451C;}
.st2022{fill:#494321;}
.st2023{fill:#3D402A;}
.st2024{fill:#815912;}
.st2025{fill:#795B29;}
.st2026{fill:#53431F;}
.st2027{fill:#7B540B;}
.st2028{fill:#58491E;}
.st2029{fill:#D1C2A8;}
.st2030{fill:#643B22;}
.st2031{fill:#C5B393;}
.st2032{fill:#9F814A;}
.st2033{fill:#745724;}
.st2034{fill:#504221;}
.st2035{fill:#E1D8C7;}
.st2036{fill:#683C20;}
.st2037{fill:#5B4B1E;}
.st2038{fill:#E3DACB;}
.st2039{fill:#673C21;}
.st2040{fill:#6F5320;}
.st2041{fill:#4D4222;}
.st2042{fill:#67490C;}
.st2043{fill:#5B491B;}
.st2044{fill:#815B16;}
.st2045{fill:#E7E0D4;}
.st2046{fill:#764312;}
.st2047{fill:#CBBA9D;}
.st2048{fill:#6B501C;}
.st2049{fill:#7E5711;}
.st2050{fill:#AC9364;}
.st2051{fill:#D6CAB3;}
.st2052{fill:#88621F;}
.st2053{fill:#EAE3D7;}
.st2054{fill:#684D19;}
.st2055{fill:#5E4815;}
.st2056{fill:#6B4615;}
.st2057{fill:#754314;}
.st2058{fill:#72500D;}
.st2059{fill:#DBD0BC;}
.st2060{fill:#684B16;}
.st2061{fill:#EEE8DE;}
.st2062{fill:#E0D6C4;}
.st2063{fill:#D3C6AC;}
.st2064{fill:#6C4C0D;}
.st2065{fill:#684A13;}
.st2066{fill:#835E18;}
.st2067{fill:#DDD3C0;}
.st2068{fill:#694B0D;}
.st2069{fill:#4A4322;}
.st2070{fill:#694A0C;}
.st2071{fill:#B49C71;}
.st2072{fill:#6B4A11;}
.st2073{fill:#B39B6F;}
.st2074{fill:#794411;}
.st2075{fill:#E2D9C8;}
.st2076{fill:#EBE5DA;}
.st2077{fill:#E1D9C8;}
.st2078{fill:#6E4A0E;}
.st2079{fill:#7B540A;}
.st2080{fill:#825E1A;}
.st2081{fill:#454225;}
.st2082{fill:#814809;}
.st2083{fill:#724A0B;}
.st2084{fill:#E4DBCC;}
.st2085{fill:#C5B392;}
.st2086{fill:#5B4819;}
.st2087{fill:#59441C;}
.st2088{fill:#6E5012;}
.st2089{fill:#774E05;}
.st2090{fill:#774B08;}
.st2091{fill:#594716;}
.st2092{fill:#5E4519;}
.st2093{fill:#E6DED0;}
.st2094{fill:#815D1A;}
.st2095{fill:#725316;}
.st2096{fill:#7A4B06;}
.st2097{fill:#3C3E2C;}
.st2098{fill:#715419;}
.st2099{fill:#634516;}
.st2100{fill:#704711;}
.st2101{fill:#7D4C05;}
.st2102{fill:#6D541F;}
.st2103{fill:#6C5015;}
.st2104{fill:#B1996C;}
.st2105{fill:#775109;}
.st2106{fill:#77520B;}
.st2107{fill:#664614;}
.st2108{fill:#836223;}
.st2109{fill:#7E4B04;}
.st2110{fill:#5D4A1A;}
.st2111{fill:#684613;}
.st2112{fill:#8D6C2E;}
.st2113{fill:#534220;}
.st2114{fill:#6D5117;}
.st2115{fill:#5E401F;}
.st2116{fill:#653F1D;}
.st2117{fill:#794908;}
.st2118{fill:#C9B89A;}
.st2119{fill:#EAE5D9;}
.st2120{fill:#5C411F;}
.st2121{fill:#734512;}
.st2122{fill:#50372E;}
.st2123{fill:#4B3235;}
.st2124{fill:#5F3D22;}
.st2125{fill:#6C4413;}
.st2126{fill:#573E22;}
.st2127{fill:#583C23;}
.st2128{fill:#49382E;}
.st2129{fill:#413535;}
.st2130{fill:#403535;}
.st2131{fill:#844907;}
.st2132{fill:#3C3339;}
.st2133{fill:#3E3437;}
.st2134{fill:#7A450F;}
.st2135{fill:#583B26;}
.st2136{fill:#46382F;}
.st2137{fill:#764512;}
